html
  head
    base(href="/")
    title= title
    include ../partials/head.pug
  body
    if message.length > 0
        p.message= message
    .container
      .row
        .col-md-4.main-menu-div

        .col-md-4.main-menu-div
          form(action='/login', method='post')
              .form-group
                label Email
                input.form-control(type='text', name='email')
              .form-group
                label Password
                input.form-control(type='password', name='password')
              button.btn.btn-warning.btn-lg(type='submit') Login

          p New User?
          a(href='/signup') Signup Here

        .col-md-4.main-menu-div
    
