.btn-group-vertical(role='group', aria-label='...')
  .btn-group(role='group')
    button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
      | Game
      span.caret
    ul.dropdown-menu
      li
        a(href='play') Play
      li
        a(href='#') Watch
      li
        a(href='#') Load
  .btn-group(role='group')
    button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
      | User
      span.caret
    ul.dropdown-menu
      li
        a(href='profile') Profile
      li
        a(href='#') Account
      li
        a(href='#') Friends
      li
        a(href='#') Manage
         
   
